.App-header {
  background-color: green;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.species {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.commands input {
  width: 150px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
